<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640043252981-nmcnh2ucusftp44vfrtbr0fursa0b1dh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640043252981-nmcnh2ucusftp44vfrtbr0fursa0b1dh</string>
	<key>API_KEY</key>
	<string>AIzaSyBD48s-KTELvsD1cD20WC89ZMemkpdNvpk</string>
	<key>GCM_SENDER_ID</key>
	<string>640043252981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blooddonate</string>
	<key>PROJECT_ID</key>
	<string>gdscbloodbank</string>
	<key>STORAGE_BUCKET</key>
	<string>gdscbloodbank.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640043252981:ios:eb22a62510f5b7b211d9bc</string>
</dict>
</plist>